@font-face {
  font-family: "iconfont"; /* Project id 2626567 */
  src: url('iconfont.woff2?t=1626167702207') format('woff2'),
       url('iconfont.woff?t=1626167702207') format('woff'),
       url('iconfont.ttf?t=1626167702207') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-shoucang-active:before {
  content: "\e8c6";
}

.icon-xuanzhongshangcheng:before {
  content: "\e60a";
}

.icon-index:before {
  content: "\e605";
}

.icon-lingdang:before {
  content: "\e629";
}

.icon-zan1:before {
  content: "\e65c";
}

.icon-dianzan:before {
  content: "\e604";
}

.icon-qianbao1:before {
  content: "\e602";
}

.icon-womaidaode:before {
  content: "\e682";
}

.icon-wofabude:before {
  content: "\e679";
}

.icon-womaichude:before {
  content: "\e88d";
}

.icon-shouji:before {
  content: "\e63f";
}

.icon-img-yizhuanrang:before {
  content: "\e603";
}

.icon-xiangshang:before {
  content: "\e600";
}

.icon-phone:before {
  content: "\e678";
}

.icon-xiangshangyuanjiantoushangjiantouxiangshangmianxing:before {
  content: "\e618";
}

.icon-kefu:before {
  content: "\e63e";
}

.icon-arrow-right:before {
  content: "\e665";
}

.icon-shouye1:before {
  content: "\e61d";
}

.icon-eye:before {
  content: "\e601";
}

.icon-zan:before {
  content: "\e63c";
}

.icon-xiaoxi:before {
  content: "\e86f";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-custom-search:before {
  content: "\e608";
}

.icon-dingwei1:before {
  content: "\e615";
}

.icon-dkw_xiaoxi:before {
  content: "\e606";
}

.icon-wode:before {
  content: "\e607";
}

.icon-shouye:before {
  content: "\e63d";
}

.icon-jurassic_submit:before {
  content: "\e6f7";
}

.icon-shouye-active-copy:before {
  content: "\e6fa";
}

.icon-wode-active-copy:before {
  content: "\e6fb";
}

.icon-dkw_xiaoxi-active:before {
  content: "\e6f8";
}

.icon-jurassic_submit-acitve-copy:before {
  content: "\e6f9";
}

